@using PCSHOP.Models;
@using PCSHOP.Utilities;
@model IList<Post>

<div class="side_bar_blog">
    <h4>RECENT POST</h4>
    <div class="recent_post">
        <ul>
            @foreach(var item in Model)
            {
                string url = Functions.TitleSlugGeneration("post", item.Title, item.ID);
                <li>
                    <p class="post_head"><a href="#">@item.Title</a></p>
                    <p class="post_date"><i class="fa fa-calendar" aria-hidden="true"></i>@item.CreatedDate.ToString("dd-MM-yyyy")</p>
                </li>
            }
            
            <!--<li>
                <p class="post_head"><a href="#">Compatible Inkjet Cartridge</a></p>
                <p class="post_date"><i class="fa fa-calendar" aria-hidden="true"></i> Aug 20, 2017</p>
            </li>
            <li>
                <p class="post_head"><a href="#">Treat That Oral Thrush Now</a></p>
                <p class="post_date"><i class="fa fa-calendar" aria-hidden="true"></i> Aug 20, 2017</p>
            </li>-->
        </ul>
    </div>
</div>